.tamil-mv{
    color: brown;
    
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}

.tamil{
    color: white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tamilmv{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: x-large;}
.rdx{
    background-color: black;
}